@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:100 900;
  font-display:swap;
  src:url(/_next/static/media/ba9851c3c22cd980-s.woff2) format("woff2");
  unicode-range:u+0460-052f, u+1c80-1c8a, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:100 900;
  font-display:swap;
  src:url(/_next/static/media/21350d82a1f187e9-s.woff2) format("woff2");
  unicode-range:u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:100 900;
  font-display:swap;
  src:url(/_next/static/media/c5fe6dc8356a8c31-s.woff2) format("woff2");
  unicode-range:u+1f??
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:100 900;
  font-display:swap;
  src:url(/_next/static/media/19cfc7226ec3afaa-s.woff2) format("woff2");
  unicode-range:u+0370-0377, u+037a-037f, u+0384-038a, u+038c, u+038e-03a1, u+03a3-03ff
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:100 900;
  font-display:swap;
  src:url(/_next/static/media/df0a9ae256c0569c-s.woff2) format("woff2");
  unicode-range:u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:100 900;
  font-display:swap;
  src:url(/_next/static/media/8e9860b6e62d6359-s.woff2) format("woff2");
  unicode-range:u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}
@font-face {
  font-family:Inter;
  font-style:normal;
  font-weight:100 900;
  font-display:swap;
  src:url(/_next/static/media/e4af272ccee01ff0-s.p.woff2) format("woff2");
  unicode-range:u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}
@font-face {
  font-family:Inter Fallback;
  src:local("Arial");
  ascent-override:90.44%;
  descent-override:22.52%;
  line-gap-override:0.00%;
  size-adjust:107.12%
}
.__className_f367f3 {
  font-family:Inter, Inter Fallback;
  font-style:normal
}
.__variable_f367f3 {
  --font-inter:"Inter", "Inter Fallback"
}
@font-face {
  font-family:Nunito Sans;
  font-style:normal;
  font-weight:200 1000;
  font-stretch:100%;
  font-display:swap;
  src:url(/_next/static/media/aa1b27f9e325731f-s.woff2) format("woff2");
  unicode-range:u+0460-052f, u+1c80-1c8a, u+20b4, u+2de0-2dff, u+a640-a69f, u+fe2e-fe2f
}
@font-face {
  font-family:Nunito Sans;
  font-style:normal;
  font-weight:200 1000;
  font-stretch:100%;
  font-display:swap;
  src:url(/_next/static/media/c126d80dc21dff90-s.woff2) format("woff2");
  unicode-range:u+0301, u+0400-045f, u+0490-0491, u+04b0-04b1, u+2116
}
@font-face {
  font-family:Nunito Sans;
  font-style:normal;
  font-weight:200 1000;
  font-stretch:100%;
  font-display:swap;
  src:url(/_next/static/media/e850464f9dfbb75b-s.woff2) format("woff2");
  unicode-range:u+0102-0103, u+0110-0111, u+0128-0129, u+0168-0169, u+01a0-01a1, u+01af-01b0, u+0300-0301, u+0303-0304, u+0308-0309, u+0323, u+0329, u+1ea0-1ef9, u+20ab
}
@font-face {
  font-family:Nunito Sans;
  font-style:normal;
  font-weight:200 1000;
  font-stretch:100%;
  font-display:swap;
  src:url(/_next/static/media/357067f10075d686-s.woff2) format("woff2");
  unicode-range:u+0100-02ba, u+02bd-02c5, u+02c7-02cc, u+02ce-02d7, u+02dd-02ff, u+0304, u+0308, u+0329, u+1d00-1dbf, u+1e00-1e9f, u+1ef2-1eff, u+2020, u+20a0-20ab, u+20ad-20c0, u+2113, u+2c60-2c7f, u+a720-a7ff
}
@font-face {
  font-family:Nunito Sans;
  font-style:normal;
  font-weight:200 1000;
  font-stretch:100%;
  font-display:swap;
  src:url(/_next/static/media/68180864d7f93f02-s.p.woff2) format("woff2");
  unicode-range:u+00??, u+0131, u+0152-0153, u+02bb-02bc, u+02c6, u+02da, u+02dc, u+0304, u+0308, u+0329, u+2000-206f, u+20ac, u+2122, u+2191, u+2193, u+2212, u+2215, u+feff, u+fffd
}
@font-face {
  font-family:Nunito Sans Fallback;
  src:local("Arial");
  ascent-override:99.71%;
  descent-override:34.82%;
  line-gap-override:0.00%;
  size-adjust:101.39%
}
.__className_ad9d8d {
  font-family:Nunito Sans, Nunito Sans Fallback;
  font-style:normal
}
.__variable_ad9d8d {
  --font-nunito-sans:"Nunito Sans", "Nunito Sans Fallback"
}
.layout_body {
  display:flex;
  flex-direction:column;
  overflow-y:auto;
  min-height:100dvh
}
.layout_menuContainer {
  display:flex;
  align-items:center;
  justify-content:center;
  position:fixed;
  top:0;
  left:0;
  z-index:100;
  background-color:#f9fafb;
  border-bottom:1px solid #e5e7eb;
  width:100%;
  box-shadow:0 1px 2px 0 rgba(0, 0, 0, .05);
  height:64px
}
.layout_main {
  overflow-x:hidden
}
.layout_main .layout_content {
  display:flex;
  flex-direction:column
}
@media (min-width:1601px) {
  .layout_main .layout_content {
    gap:var(--large-desktop-gap);
    padding-bottom:var(--large-desktop-gap)
  }
}
@media (max-width:1600px) and (min-width:1185px) {
  .layout_main .layout_content {
    gap:var(--small-desktop-gap);
    padding-bottom:var(--small-desktop-gap)
  }
}
@media (min-width:770px) and (max-width:1184px) {
  .layout_main .layout_content {
    gap:var(--tablet-gap);
    padding-bottom:var(--tablet-gap)
  }
}
@media (max-width:769px) {
  .layout_main .layout_content {
    gap:var(--mobile-gap);
    padding-bottom:var(--tablet-gap)
  }
}
.layout_widthWrapper {
  width:100%;
  max-width:var(--max-content-width);
  padding:0 80px;
  display:flex;
  align-items:center;
  justify-content:space-between;
  height:100%
}
@media (max-width:769px) {
  .layout_menuHeightWrapper {
    min-height:var(--mobile-menu-height)
  }
}
@media (min-width:1185px), (min-width:770px) and (max-width:1184px) {
  .layout_menuHeightWrapper {
    min-height:var(--desktop-menu-height)
  }
}