.site_widthContainer {
  display:flex;
  justify-content:center;
  width:100%
}
@media (min-width:1185px) {
  .site_widthContainer {
    padding-left:var(--desktop-side-margin);
    padding-right:var(--desktop-side-margin)
  }
}
@media (min-width:770px) and (max-width:1184px) {
  .site_widthContainer {
    padding-left:var(--tablet-side-margin);
    padding-right:var(--tablet-side-margin)
  }
}
@media (max-width:769px) {
  .site_widthContainer {
    padding-left:var(--mobile-side-margin);
    padding-right:var(--mobile-side-margin)
  }
}
.site_widthContainer .site_innerWidthWrapper, .site_widthContainer .site_largerInnerWidthWrapper {
  display:flex;
  flex-direction:column;
  width:100%;
  max-width:var(--inner-content-max-width)
}
.site_widthContainer .site_largerInnerWidthWrapper {
  max-width:var(--menu-max-width)
}
@media (min-width:1601px) {
  .site_widthContainer .site_carouselWidthContainer {
    --carousel-offset-width:calc((100vw - (var(--inner-content-max-width) - var(--large-desktop-gap) * 2)) / 2)
  }
}
@media (max-width:1600px) and (min-width:1185px) {
  .site_widthContainer .site_carouselWidthContainer {
    --carousel-offset-width:var(--small-desktop-card-width)
  }
}
@media (min-width:770px) and (max-width:1184px) {
  .site_widthContainer .site_carouselWidthContainer {
    --carousel-offset-width:var(--tablet-side-margin)
  }
}
@media (max-width:769px) {
  .site_widthContainer .site_carouselWidthContainer {
    --carousel-offset-width:var(--mobile-side-margin)
  }
}
.site_widthContainer .site_carouselWidthContainer {
  margin-left:calc(var(--carousel-offset-width) * -1);
  margin-right:calc(var(--carousel-offset-width) * -1);
  padding-left:var(--carousel-offset-width);
  padding-right:var(--carousel-offset-width);
  margin-top:-80px;
  margin-bottom:-80px;
  padding-top:80px;
  padding-bottom:80px;
  overflow-y:hidden
}
.site_widthContainer .site_carouselWidthContainer:after, .site_widthContainer .site_carouselWidthContainer:before {
  content:"";
  position:absolute;
  top:0;
  width:var(--carousel-offset-width);
  height:100%;
  z-index:1;
  pointer-events:none
}
.site_widthContainer .site_carouselWidthContainer:after {
  left:0;
  transform:translateX(-100%);
  background:linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .8), rgba(255, 255, 255, .6), transparent)
}
@media (max-width:769px), (min-width:770px) and (max-width:1184px) {
  .site_widthContainer .site_carouselWidthContainer:after {
    background:linear-gradient(90deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .9), rgba(255, 255, 255, .6), transparent)
  }
}
.site_widthContainer .site_carouselWidthContainer:before {
  right:0;
  transform:translateX(100%);
  background:linear-gradient(270deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .8), rgba(255, 255, 255, .6), transparent)
}
@media (max-width:769px), (min-width:770px) and (max-width:1184px) {
  .site_widthContainer .site_carouselWidthContainer:before {
    background:linear-gradient(270deg, rgba(255, 255, 255, 1), rgba(255, 255, 255, .9), rgba(255, 255, 255, .6), transparent)
  }
}
.site_widthContainer .site_websiteCard {
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  gap:20px
}
.site_widthContainer .site_websiteCard .site_websiteCardImageContainer {
  overflow:hidden;
  display:flex;
  justify-content:center;
  align-items:center
}
.site_widthContainer .site_websiteCard .site_websiteCardImage {
  width:100%;
  height:auto;
  -o-object-fit:cover;
  object-fit:cover;
  scale:1.2;
  transition:scale .3s ease-in-out
}
.site_widthContainer .site_websiteCard .site_cardTitle {
  color:var(--brand-midnight);
  font-weight:700;
  line-height:24px;
  min-height:48px
}
@media (min-width:1185px) {
  .site_widthContainer .site_websiteCard .site_cardTitle {
    font-size:18px
  }
}
@media (max-width:769px), (min-width:770px) and (max-width:1184px) {
  .site_widthContainer .site_websiteCard .site_cardTitle {
    font-size:14px
  }
}
.site_widthContainer .site_websiteCard .site_cardDescription, .site_widthContainer .site_websiteCard .site_cardLink {
  font-weight:200
}
@media (min-width:1185px) {
  .site_widthContainer .site_websiteCard .site_cardDescription, .site_widthContainer .site_websiteCard .site_cardLink {
    font-size:14px;
    line-height:24px
  }
}
@media (max-width:769px), (min-width:770px) and (max-width:1184px) {
  .site_widthContainer .site_websiteCard .site_cardDescription, .site_widthContainer .site_websiteCard .site_cardLink {
    font-size:12px;
    line-height:20px
  }
}
.site_widthContainer .site_websiteCard .site_cardDescription {
  color:var(--grey-2);
  flex:1
}
.site_widthContainer .site_websiteCard .site_cardLinkContainer {
  display:flex;
  align-items:center;
  gap:4px
}
.site_widthContainer .site_websiteCard .site_cardLinkContainer .site_cardLink {
  color:var(--ui-blue);
  -webkit-text-decoration:underline;
  text-decoration:underline;
  transition:color .3s ease-in-out
}
.site_widthContainer .site_websiteCard .site_cardLinkContainer .site_cardLinkIconContainer {
  position:relative;
  width:16px;
  height:16px
}
.site_widthContainer .site_websiteCard .site_cardLinkContainer .site_cardLinkIconContainer .site_cardLinkIconHover, .site_widthContainer .site_websiteCard .site_cardLinkContainer .site_cardLinkIconContainer .site_cardLinkIcon {
  position:absolute;
  width:inherit;
  height:inherit;
  transition:transform .3s ease-in-out, opacity .3s ease-in-out
}
.site_widthContainer .site_websiteCard .site_cardLinkContainer .site_cardLinkIconContainer .site_cardLinkIconHover {
  opacity:0
}
.site_widthContainer .site_websiteCard:hover {
  -webkit-text-decoration:none;
  text-decoration:none
}
.site_widthContainer .site_websiteCard:hover .site_cardLinkContainer .site_cardLink {
  color:var(--brand-midnight)
}
.site_widthContainer .site_websiteCard:hover .site_cardLinkContainer .site_cardLinkIconHover, .site_widthContainer .site_websiteCard:hover .site_cardLinkContainer .site_cardLinkIcon {
  transform:translateX(4px)
}
.site_widthContainer .site_websiteCard:hover .site_cardLinkContainer .site_cardLinkIconHover {
  opacity:1;
  z-index:1
}
.site_widthContainer .site_websiteCard:hover .site_cardLinkContainer .site_cardLinkIcon {
  opacity:0
}
.site_widthContainer .site_websiteCard:hover .site_websiteCardImage {
  scale:1
}
.social-media_container {
  display:flex;
  flex-direction:column
}
.social-media_container .social-media_carouselContainerTitle {
  color:var(--grey-3);
  text-align:center;
  font-weight:300;
  font-size:16px;
  line-height:24px
}
.social-media_container .social-media_carouselItemWrapper {
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center
}
.social-media_container .social-media_carouselItemWrapper:hover .social-media_carouselItemImage {
  opacity:1
}
.social-media_container .social-media_carouselItemWrapper .social-media_carouselItem {
  width:100%;
  height:100%;
  display:flex;
  align-items:center;
  justify-content:center
}
.social-media_container .social-media_carouselItemWrapper .social-media_carouselItemImage {
  width:auto;
  -o-object-fit:cover;
  object-fit:cover;
  opacity:.5;
  transition:opacity .3s ease-in-out
}
@media (min-width:1185px) {
  .social-media_container .social-media_carouselItemWrapper .social-media_carouselItemImage {
    height:120px
  }
}
@media (min-width:770px) and (max-width:1184px) {
  .social-media_container .social-media_carouselItemWrapper .social-media_carouselItemImage {
    height:100px
  }
}
@media (max-width:769px) {
  .social-media_container .social-media_carouselItemWrapper .social-media_carouselItemImage {
    height:80px
  }
}
@media (min-width:1601px) {
  .social-media_container .social-media_carouselContainerWrapper {
    position:relative;
    justify-content:center;
    align-self:center;
    max-width:var(--home-content-max-width);
    overflow:hidden
  }
.social-media_container .social-media_carouselContainerWrapper:before {
    content:"";
    position:absolute;
    left:0;
    top:0;
    bottom:0;
    width:120px;
    background:linear-gradient(90deg, #fff, rgba(255, 255, 255, .8) 30%, rgba(255, 255, 255, .4) 60%, rgba(255, 255, 255, 0));
    pointer-events:none;
    z-index:2
  }
.social-media_container .social-media_carouselContainerWrapper:after {
    content:"";
    position:absolute;
    right:0;
    top:0;
    bottom:0;
    width:120px;
    background:linear-gradient(90deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .4) 40%, rgba(255, 255, 255, .8) 70%, #fff);
    pointer-events:none;
    z-index:2
  }
}
@media (min-width:1185px) {
  .social-media_container .social-media_carouselContainer {
    width:100%;
    align-self:center
  }
}
.toast_tickIcon {
  width:24px;
  height:24px
}
.toast_container {
  display:flex;
  flex-direction:column;
  align-items:center;
  position:fixed;
  left:50%;
  transform:translateX(-50%);
  gap:10px;
  margin-bottom:calc(var(--cookie-height) * 1px);
  z-index:9999
}
@media (min-width:1185px), (min-width:770px) and (max-width:1184px) {
  .toast_container {
    bottom:40px!important;
    width:auto
  }
}
@media (max-width:769px) {
  .toast_container {
    bottom:10px!important;
    width:calc(100% - 40px);
    align-self:center
  }
}
.toast_container .toast_toast {
  background-color:var(--brand-midnight);
  display:flex;
  justify-content:center;
  align-items:center;
  gap:10px;
  border-radius:25px;
  box-shadow:0 0 20px 0 rgba(0, 0, 0, .25);
  min-height:0;
  min-height:auto;
  margin:0
}
@media (min-width:1185px), (min-width:770px) and (max-width:1184px) {
  .toast_container .toast_toast {
    min-width:440px;
    padding:14px 32px
  }
}
@media (max-width:769px) {
  .toast_container .toast_toast {
    width:100%;
    padding:10px 16px
  }
}
.toast_container .toast_toast .toast_body {
  display:flex;
  justify-content:center;
  align-items:center;
  flex:initial;
  padding:0;
  margin:0;
  width:100%;
  gap:10px;
  color:var(--white);
  font-family:var(--font-family);
  font-weight:400;
  font-size:14px;
  line-height:20px
}
.toast_container .toast_toast .toast_body>:last-child {
  flex:initial
}
.toast_container .toast_toast .toast_body>div {
  margin:0
}
.will-content_willContentContainer {
  position:relative
}
@media (min-width:1601px) {
  .will-content_willContentContainer {
    padding-top:var(--large-desktop-gap);
    padding-bottom:var(--large-desktop-gap)
  }
}
@media (max-width:1600px) and (min-width:1185px) {
  .will-content_willContentContainer {
    padding-top:var(--small-desktop-gap);
    padding-bottom:var(--small-desktop-gap)
  }
}
@media (min-width:770px) and (max-width:1184px) {
  .will-content_willContentContainer {
    padding-top:var(--tablet-gap);
    padding-bottom:var(--tablet-gap)
  }
}
@media (max-width:769px) {
  .will-content_willContentContainer {
    padding-top:var(--mobile-gap);
    padding-bottom:var(--mobile-gap)
  }
}
.will-content_widthWrapper {
  display:flex;
  justify-content:center;
  width:100%
}
@media (min-width:1185px) {
  .will-content_widthWrapper {
    padding-left:var(--desktop-side-margin);
    padding-right:var(--desktop-side-margin)
  }
}
@media (min-width:770px) and (max-width:1184px) {
  .will-content_widthWrapper {
    padding-left:var(--tablet-side-margin);
    padding-right:var(--tablet-side-margin)
  }
}
@media (max-width:769px) {
  .will-content_widthWrapper {
    padding-left:var(--mobile-side-margin);
    padding-right:var(--mobile-side-margin)
  }
}
.will-content_widthWrapper .will-content_innerWidthWrapper, .will-content_widthWrapper .will-content_largerInnerWidthWrapper {
  display:flex;
  flex-direction:column;
  width:100%;
  max-width:var(--inner-content-max-width)
}
.will-content_widthWrapper .will-content_largerInnerWidthWrapper {
  max-width:var(--menu-max-width)
}
@media (max-width:769px), (min-width:770px) and (max-width:1184px) {
  .will-content_widthWrapper {
    padding:0
  }
}
@media (min-width:1185px) {
  .will-content_willContentImage {
    border-radius:40px 40px 0 40px
  }
}
@media (max-width:769px), (min-width:770px) and (max-width:1184px) {
  .will-content_willContentBG {
    display:none
  }
}
@media (min-width:1185px) {
  .will-content_willContentBG {
    display:block;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    z-index:-1;
    -webkit-user-select:none;
    -moz-user-select:none;
    user-select:none;
    pointer-events:none;
    height:800px;
    width:100%;
    overflow:hidden
  }
.will-content_willContentBG:after {
    content:"";
    position:absolute;
    width:100%;
    height:100%;
    top:0;
    background:linear-gradient(255deg, rgba(255, 255, 255, 0) -18.89%, rgba(255, 255, 255, .9) 72.34%), linear-gradient(180deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, .97) 97.38%)
  }
.will-content_willContentBG .will-content_willContentBGImage {
    position:absolute;
    left:50%;
    top:50%;
    transform:translate(-50%, -50%);
    height:calc(100% + 40px);
    width:auto;
    -o-object-fit:cover;
    object-fit:cover;
    -o-object-position:center;
    object-position:center;
    display:block;
    filter:blur(5px)
  }
}